PORT=4000
PROTOCOL=http
URL_PREFIX=/api
HOST_NAME=localhost

BASE_URL=${PROTOCOL}://${HOST_NAME}:${PORT}
API_BASE_URL=${PROTOCOL}://${HOST_NAME}:${PORT}${URL_PREFIX}

JWT_SECRET=your_secret
MONGODB_URI=mongodb://localhost:27017/express-app

MAIL_PORT=587
MAIL_SENDER=test@test.com
MAIL_HOST=smtp.ethereal.email
MAIL_PASSWORD=DRPfUKfVsWZW91A3sC
MAIL_USER=ronny.aufderhar@ethereal.email

# Your frontend reset password route
RESET_URL=http://localhost:3000/auth/reset/token